/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
.wrapper {
  padding: 10px;
}
/** Generic elements **/
/**********************/
.ecp-list {
  list-style-type: none;
}
/* menu en onglets */
.nav-tab {
  margin: 5px 0;
}
.nav-tab ul {
  list-style-type: none;
  margin: 15px 0;
  padding: 0;
}
.nav-tab ul li {
  display: inline-block;
  vertical-align: middle;
  margin: 5px 10px;
  padding: 5px;
}
.nav-tab ul li:hover a {
  text-decoration: underline;
}
.nav-tab ul li.nav-tab-active {
  background-color: #1a6cef;
}
.nav-tab ul li.nav-tab-active a {
  color: #fff;
}
.nav-tab ul li.gutter {
  width: 1px;
  height: 15px;
  margin: 5px 0;
  padding: 0;
  background-color: #000;
}
/* marge de droite */
.sidebar_widget {
  margin-bottom: 25px;
}
/** Pages **/
/***********/
/** Tableau de bord */
/* menu */
.nav-instance ul {
  list-style-type: none;
  margin: 10px 0;
  padding: 0;
}
.nav-instance ul li {
  display: inline-block;
  vertical-align: top;
  border: 1px solid #ccc;
}
.nav-instance li:hover {
  background-color: #ccc;
}
.nav-instance a {
  display: inline-block;
  padding: 5px 10px;
  color: #000;
}
.nav-instance ul li.item-active {
  border: 1px solid #0275d8;
  background-color: #0275d8;
}
.nav-instance ul li.item-active a {
  color: #fff;
}
/* liste des composants */
.item-composant {
  padding: 5px 0;
}
.item-composant > span {
  display: inline-block;
  vertical-align: middle;
}
.item-composant > span > span {
  display: block;
  padding: 3px 5px;
  margin: 3px 0;
}
.item-composant .tag-composant {
  width: 10%;
  text-align: right;
}
.item-composant .title-composant {
  width: 60%;
}
.item-composant .date-composant {
  width: 30%;
  text-align: right;
}
.item-composant.item-2-col .title-composant {
  width: 70%;
}
.item-composant .tag-document {
  width: 8%;
  text-align: center;
}
.item-composant .title-document {
  width: 80%;
}
/** Page d'un message */
/* commentaires */
.comment-author {
  font-weight: bold;
}
/** Page d'un calendrier */
.list-item-events {
  margin-bottom: 15px;
}
.list-item-events-date {
  margin-bottom: 10px;
}
.list-item-events-date > span {
  display: inline-block;
  width: 250px;
  padding: 5px 0 0 0;
  text-align: right;
  border-bottom: 1px solid #ccc;
}
.item-event {
  margin-bottom: 5px;
}
.item-event-hour,
.item-event-desc {
  display: inline-block;
  vertical-align: top;
}
.item-event-hour {
  width: 150px;
  font-style: italic;
}
.item-event-desc {
  width: calc(100% - 150px);
}
.item-event-title {
  font-weight: bold;
}
